params {
    // input params
    input = null
    output = null

    // ncbi api token for faster auth
    ncbi_api_token = null

    publish_dir_mode           = 'copy'

}

profiles {
    conda {
        conda.enabled = true
    }
}

includeConfig 'betty_core/conf/modules.config'
