params {
    // input params
    input = null
    outdir = null

    // ncbi api token for faster auth
    ncbi_api_token = null

    publish_dir_mode           = 'copy'

    // side software params
    // FASTP
    reads_minlength = 50
    fastp_save_trimmed_fail = false
    fastp_cut_mean_quality = 15
    fastp_qualified_quality = 15

    save_clipped_reads = false

    // taxonomy params
    kraken2_db = null
    krona_db = null

    // assemblies
    spades_options = null
}

profiles {
    conda {
        conda.enabled = true
    }
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

includeConfig 'conf/modules.config'
