process {
    withName: FASTQC_RAW {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.output}/QC_shortreads/fastqc" },
            mode: params.publish_dir_mode,
            pattern: "*.html"
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_raw" }
        tag = { "${meta.id}_run${meta.run}_raw" }
    }
}
